@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 245 23% 79%;
      --foreground: 294 33% 19%;
      --card: 245 23% 79%;
      --card-foreground: 294 33% 19%;
      --popover: 245 23% 79%;
      --popover-foreground: 294 33% 19%;
      --primary: 163 57% 63%;
      --primary-foreground: 294 33% 19%;
      --secondary: 246 37% 33%;
      --secondary-foreground: 245 23% 79%;
      --muted: 245 24% 20%;
      --muted-foreground: 294 33% 70%;
      --accent: 200 51% 92%;
      --accent-foreground: 294 33% 19%;
      --destructive: 0 85% 60%;
      --destructive-foreground: 294 33% 19%;
      --border: 245 24% 20%;
      --input: 245 24% 20%;
      --ring: 200 51% 40%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 245 23% 21%;
      --foreground: 293 33% 81%;
      --card: 245 23% 21%;
      --card-foreground: 293 33% 81%;
      --popover: 245 23% 21%;
      --popover-foreground: 293 33% 81%;
      --primary: 163 57% 37%;
      --primary-foreground: 245 23% 21%;
      --secondary: 246 37% 67%;
      --secondary-foreground: 245 23% 21%;
      --muted: 245 24% 80%;
      --muted-foreground: 293 33% 81%;
      --accent: 200 51% 8%;
      --accent-foreground: 293 33% 81%;
      --destructive: 0 62% 30%;
      --destructive-foreground: 293 33% 10%;
      --border: 244 23% 60%;
      --input: 245 24% 80%;
      --ring: 200 51% 60%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  @layer components{
    #sentry-feedback {
      --background: var(--secondary);
      --background-hover: var(--background-hover);
      --foreground: var(--foreground);
      --error: var(--destructive);
      --submit-background: hsl(var(--secondary));
      --submit-background-hover: hsl(var(--secondary-foreground));
    }
    .crown{
      border: 2px solid rgba(255, 217, 0, 0.836); /* the 'strokes' of the arc */
      display: inline-block;
      position: absolute;
      min-width: 4em; /* the width of the innermost element */
      min-height: 4em; /* the height of the innermost element */
      padding: 0.5em; /* the spacing between each arc */
      border-radius: 50%; /* for making the elements 'round' */
      border-top-color: transparent; /* hiding the top border */
      border-bottom-color: transparent;
      border-right-color: transparent;
      rotate: 100deg;
    }
  }